.eight_section {
  height: 100vh;
  background-image: url(../images/eight_section/eight_section_back-d.png);
}
.eight_section_parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.eight_section_child {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eight_section_child_left_inner > span {
  font-weight: 700;
  font-size: 23px;
  text-transform: capitalize;
  color: #ffffff;
  display: block;
  margin-bottom: 8px;
}

.eight_section_child_left_inner > h4 {
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  text-transform: capitalize;
  color: #dcca87;
  margin-bottom: 64px;
}
.eight_section_child_left_inner_texts_bottom {
  width: 634px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.eight_section_child_left_inner_texts_inners {
  width: 301px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.eight_section_child_left_inner_texts_inners_texts {
  width: 190px;
}
.eight_section_child_left_inner_texts_inners_texts > span {
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  text-transform: capitalize;
  color: #dcca87;
}
.eight_section_child_left_inner_texts_inners_texts > p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #aaaaaa;
  margin-top: 8px;
}
