.five_section {
  height: 100vh;
  background-image: url(../images/five_section/five_section_back-d.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.five_section_parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.five_section_child {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.five_section_child_inner_right {
  width: 570px;
}
.five_section_child_inner_right > span {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
}

.five_section_child_inner_right > h3 {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  color: #dcca87;
  margin-bottom: 76px;
  margin-top: 10px;
}
.five_section_child_inner_right > p {
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  color: #aaa;
}

.five_section_child_inner_right > .five_section_child_inner_right_p {
  font-family: Bestermind;
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  color: #aaa;
}
.five_section_child_inner_right_mini_div {
  margin: 64px 0;
}
.five_section_child_inner_right_mini_div > h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: #dcca87;
}
.five_section_child_inner_right_mini_div > p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #aaa;
}
