.nine_section {
  height: 100vh;
  background-color: #000;
}
.nine_section_parent {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nine_section_child {
  width: 1400px;
}
.nine_section_child_top {
  width: 100%;
  text-align: center;
}
.nine_section_child_top > span {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  text-transform: capitalize;
  display: block;
  margin: 8px auto;
}
.nine_section_child_top > h5 {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  color: #dcca87;
}

.nine_section_child_center {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.nine_section_child_center_cards {
  max-width: 412px;
}
.nine_section_child_center_mini_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nine_section_child_center_mini_text > span {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fafafa;
  display: block;
  margin: 24px 0 32px;
}
.nine_section_child_center_mini_text_link > a {
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  text-transform: capitalize;
  color: #dcca87;
}
.nine_section_child_center_cards > p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #aaaaaa;
  margin: 32px 0;
}
.nine_section_child_center_cards > a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: #dcca87;
  text-decoration: none;
}
.nine_section_child_down {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}
