.three_section {
  height: 70vh;
  background-image: url(../images/three_section/three_section_back-d.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.three_section_child {
  width: 378px;
}
.three_section_child li {
  font-size: 64px;
  font-weight: 600;
  line-height: 83px;
  color: #fff;
  list-style: none;
  position: relative;
  margin-bottom: 64px;
}
.three_section_child ul li:hover::after {
  display: block;
  position: absolute;
  content: "";
  width: 75%;
  height: 2px;
  background-color: #fff;
}
