.actionsAddProd {
  .inputSend {
    .myInputs {
      h6 {
        padding: 10px 0 3px 2px;
        background: transparent;
      }

      .date {
        width: 100% !important;
        > div {
          width: 100% !important;
        }
      }
    }
  }

  .saveAction {
    height: 45px;
    margin: 20px 0 5px 0 !important;
    p {
      margin: 0;
    }
  }
}
