.invoiceParent {
  background-color: rgba(162, 178, 238, 0.102);
  min-width: 100%;
  padding: 15px 8px;
  border-bottom: 1px solid rgba(47, 71, 190, 0.287);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listInvoices {
  height: 100%;
  box-shadow: 0 0 #000, 0 0 #0000, 5px 0 25px 0 #5e5c9a1a;

  .standartTable {
    height: calc(100% - 52px);
    box-shadow: none !important;

    table tbody .tableInvoice {
      td,
      th {
        padding: 10px 8px !important;
      }
    }
  }
}
