.soputkaHistoryParent {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;

  .del {
    background: transparent;
    width: 100%;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
  }

  .actionBlockHeader {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
