.saleProdPage {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 5px;
  position: relative;

  > h3 {
    position: absolute;
    left: 10px;
    top: -50px;
    z-index: 999;
    font-size: 18px;
  }
}
