.historyInvoice {
  background: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 10px;

  .titles {
    display: flex;
    align-items: flex-end;
    padding: 5px 30px 15px;

    h1 {
      font-size: 17px;
      font-weight: 500;
    }
  }

  &__table {
    height: calc(100% - 50px);

    .standartTable {
      box-shadow: none !important;
      border-radius: 0px !important;
      table {
        tbody {
          tr {
            cursor: pointer;
            th,
            td {
              padding: 10px 8px !important;
            }
          }
        }
      }

      .pl {
        padding-left: 28px !important;
      }
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    position: relative;

    .date {
      height: 38px;
      width: 210px;
      z-index: 10;

      .react-datepicker-wrapper {
        input {
          border: 1px solid #e1dede !important;
          box-shadow: none !important;
          cursor: pointer;
          border-radius: 5px;
          width: 210px !important;
          height: 38px;
          color: rgba(0, 0, 0, 0.782);
          padding: 3px 15px;
          font-size: 15px;
        }
      }
    }
  }
}
