.historyInvoice {
  background: #fff;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 10px;

  .titles {
    display: flex;
    align-items: flex-end;
    padding: 5px 30px 15px;

    h1 {
      font-size: 17px;
      font-weight: 500;
    }
  }

  &__table {
    height: calc(100% - 50px);

    .standartTable {
      box-shadow: none !important;
      border-radius: 0px !important;
      table {
        tbody {
          tr {
            cursor: pointer;
            th,
            td {
              padding: 10px 8px !important;
            }
          }
        }
      }
    }
  }
}
