.everyProd {
  height: 100%;

  .standartTable {
    height: calc(100% - 60px);
    box-shadow: none !important;

    table tbody .tableInvoice {
      td,
      th {
        padding: 10px 8px !important;
      }
    }
  }
}
