.generateReportPdf {
  .actionPdf {
    > button {
      height: 38px;
      background: #299b31;
      padding: 0px 20px 0px;
      border-radius: 5px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }

  .modal {
    &__inner {
      top: 48% !important;

      iframe {
        width: 80vw;
        height: 90vh;
      }
    }
  }
}
