.leftoversContainer {
  margin: 0 0 20px 0;

  .titleAction {
    width: 100% !important;
    gap: 20px !important;

    &__inner {
      width: 75%;
      display: flex;
      align-items: flex-end;
      gap: 10px;
    }
  }
}
