.leftoversContainer {
  margin: 0 0 20px 0;

  .titleAction {
    width: 100% !important;
    gap: 20px !important;
    padding-left: 20px !important;

    &__inner {
      width: 75%;
      display: flex;
      align-items: flex-end;
      gap: 10px;

      .inputSend {
        width: 350px !important;
        cursor: pointer;
        position: relative;

        .krestImg {
          height: 38px;
          width: 38px;
          background: transparent;
          padding: 7px;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .searchBtn {
        height: 38px;
        background: #299b31;
        padding: 0px 20px 0px;
        border-radius: 5px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }
  }

  .searchProd__prod {
    height: calc(100% - 62px) !important;

    .loader {
      width: 100%;
      height: 70px;
      padding: 8px 45px !important;
      position: relative;

      .preloader {
        position: absolute !important;
        height: 70px !important;
        background: transparent !important;
        justify-content: flex-start;
        padding-left: 100px !important;

        .lds-roller {
          transform: scale(0.4) !important;
        }
      }
    }

    .subTitle {
      background: #edf2f975 !important;
      font-weight: 600;
      border-right: none !important;
      font-size: 11px !important;
      border-bottom: 1px solid rgba(128, 128, 128, 0.261) !important;
      border-top: 1px solid rgba(128, 128, 128, 0.261) !important;
    }
  }
}
