.revisionRequest {
  height: 100%;
  background: #fff;
  position: relative;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.144) !important;
  border-radius: 5px;

  .header {
    h3 {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .standartTable {
    box-shadow: none !important;
    height: calc(100% - 57px);
    box-shadow: none !important;

    table tbody {
      tr {
        cursor: pointer;
        td,
        th {
          padding: 10px 8px !important;

          .delIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
