.spendingList {
  height: 100%;
  .standartTable {
    box-shadow: none !important;

    height: 100%;
    box-shadow: none !important;

    table tbody {
      td,
      th {
        padding: 10px 8px !important;

        .delIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            background: transparent;
          }
        }
      }
    }
  }
}
